@model IEnumerable<EventPlanner.Models.Event>

@{
    ViewData["Title"] = "Events";
}
<div class="eventContainer">
<h1 class="eventTitle">Events</h1>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="createBTn" asp-action="Create">Create New</a>
    }
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrption)
            </td>
            <td>
                <div class="colorBox" style="background-color: @Html.DisplayFor(modelItem => item.Colour)"></div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.EventId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                        <a asp-action="Share" asp-route-id="@item.EventId">Share</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.EventId">Details</a>
                    }
                </td>
        </tr>
        }
        </div>
    </tbody>
</table>

<style>
    .eventTitle{ 
        font-size: 40px;
        color: #00BCD4;
    }
    body {
        background-image: url('/images/editednomiddle.jpg');
    }

    .eventContainer {
        margin-top: 20px;
        padding: 10px;
        background-color: #333;
        opacity: 0.95;
        border-radius: 15px;
    }

    .createBTn {
        padding-top: 15px;
        text-decoration: none;
        border: 1px solid;
        border-radius: 20px;
        padding: 10px;
        color: white;
        font-size: 20px;
    }
    .createBTn:hover {
         border:none;
        color: white;
        transition: 300ms;
        font-size: 30px;
            background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%)
    }   
</style>

