@model EventPlanner.Models.Event

@{
    ViewData["Title"] = "Share";
}

<h1>Share</h1>

<div>
    <h4>Event (Copy and Share)</h4>
    <p>Send To A Friend</p>

    <hr />
    <dl class="row">
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrption)
        </dd>
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">Email Someone</a>



<style>


    body {
        background-color: #37474F;
    }

    h1, p, tr, td, table, li, nav, ul, dl, span, .form-group, label, input {
        color: white;
    }


    a {
        border-radius: 20px;
        color: #fff;
        text-decoration: none;
    }

        a:hover {
            color: #00BCD4;
        }

</style>