@model IEnumerable<EventPlanner.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    @if (User.Identity.IsAuthenticated) {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="colorBox" style="background-color: @Html.DisplayFor(modelItem => item.Colour)"></div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                 @if (User.Identity.IsAuthenticated){
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a>
                        if (item.CategoryId != 1) {
                            <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                        }

                 }
                 else
                    {
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a>
                    }   

            </td>
        </tr>
}
    </tbody>
</table>

<style>
    h1, p, tr, td, table {
        color: white;
    }
</style>